html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #fff;
}

.navbar {
    width: 100%;
    background: #2eada7;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    height: 65px;
    position: sticky;
    top: 0;
    font-weight: bold;
    z-index: 1000;
}

.nav-container {
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 100%;
}

.nav-logo a {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 18px;
    margin: 0;
    padding: 0;
}

.nav-menu li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    gap: 3px;
}

.material-symbols-outlined {
    font-size: 18px;
    line-height: 1;
}

.nav-menu li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}

.nav-menu li a:hover::after {
    width: 100%;
}

.container {
    animation: slideUpSlow 2.8s ease-out forwards;
    opacity: 0;
    padding: 20px;
}

@keyframes slideUpSlow {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }

    60% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

.foouter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10px;
    height: calc(40vh - 65px);
    gap: 10px;
    overflow: hidden;
}

.foouter-text {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.foouter-img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.foouter-img img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
    display: block;
}

.foouter-text h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin: 0;
    color: #2eada7;
    font-size: 35px;
}

.foouter-text p {
    margin: 0;
    font-size: 15px;
    text-align: justify;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.link-container {
    margin-top: 15px;
    font-family: Montserrat, sans-serif;
}

.icon-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
    gap: 5px;
}

.icon-link i {
    font-size: 24px;
}

.menu-icon {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 70%;
    margin: 0 auto;
}

.menu-icon a {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
    padding: 10px 0;
    transition: 0.3s;
}

.menu-icon a i {
    font-size: 26px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    background: #2eada7;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-icon a span {
    font-size: 14px;
}

.menu-icon a {
    position: relative;
}

.menu-icon span {
    position: relative;
    padding-bottom: 4px;
}

.menu-icon span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #000;
    transition: width 0.3s ease;
}

.menu-icon a:hover span::after {
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .foouter {
        grid-template-columns: 1fr 1fr;
        height: auto;
        padding: 10px;
        gap: 10px;
    }

    .foouter-text {
        font-size: 14px;
        max-height: 100%;
        overflow: hidden;
    }

    .foouter-img {
        max-height: 100%;
        overflow: hidden;
    }

    .foouter-img img {
        max-height: 120px;
        width: auto;
    }

    .foouter-text h2 {
        font-size: 12px;
    }

    .foouter-text p {
        font-size: 8px;
    }

    .menu-icon {
        width: 100%;
    }

    .menu-icon a i {
        font-size: 18px;
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .foouter-text {
        font-size: 12px;
    }
}