html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #fff;
}

.navbar {
    width: 100%;
    background: #DC0000;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    height: 65px;
    position: sticky;
    top: 0;
    font-weight: bold;
    z-index: 1000;
}

.nav-container {
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 100%;
}

.nav-logo a {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.nav-logo a img {
    width: 120px;
    height: 40px;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 18px;
    margin: 0;
    padding: 0;
}

.nav-menu li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    gap: 3px;
}

.material-symbols-outlined {
    font-size: 18px;
    line-height: 1;
}

.nav-menu li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}

.nav-menu li a:hover::after {
    width: 100%;
}

.container {
    animation: slideUpSlow 2.8s ease-out forwards;
    opacity: 0;
}

@keyframes slideUpSlow {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }

    60% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin: 15px 0 0 0;
    color: #000;
    font-size: 25px;
}

.container p {
    margin: 0 0 10px 0;
}

.from-booking {
    min-height: calc(100vh - 182px);
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 20px;
}

.from-booking form {
    display: flex;
    gap: 30px;
    align-items: stretch;
    font-family: acme, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.from-1,
.from-2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.from-1>*:not(:last-child),
.from-2>*:not(:last-child) {
    margin-bottom: auto;
}

.from-booking label {
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.from-booking p {
    margin: 0;
}

.field {
    border: 2px solid #000;
    border-radius: 10px;
    background: #fff;
    display: flex;
    align-items: center;
    gap: 3px
}

.field legend {
    padding: 0 6px;
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

.field input,
.field textarea,
.field select {
    border: none;
    background: transparent;
    font-size: 14px;
    width: 100%;
}

.field:focus-within {
    border-color: #000;
}

.field input:focus,
.field textarea:focus,
.field select:focus {
    outline: none;
    box-shadow: none;
}

.from-booking textarea {
    resize: vertical;
    min-height: 80px;
    width: 100%;
}

.button-submit {
    margin-top: 15px;
    width: calc(100% * 1);
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.39);
    height: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #DC0000;
    background-color: #DC0000;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}

.signature-wrapper {
    width: 100%;
}

#signature-pad {
    width: 100%;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    background: #fff;
    touch-action: none; /* PENTING untuk HP */
}


.signature-action {
    margin-top: 10px;
    text-align: right;
}

.signature-action button {
    padding: 6px 12px;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .from-booking form {
        flex-direction: column;
    }

    .container p {
        font-size: 12px;
    }

    .from-1,
    .from-2 {
        gap: 5px;
    }
}